<main class="bg-dark">
  <div class="container py-3 cars">
    <h2 class="text-white mb-4">{{paramsBrand}}</h2>
    <div class="row row-gap-4">
      <div class="col-md-4 col-lg-3 col-12" *ngFor="let car of cars">
        <div class="card bg-black text-bg-dark border-0">
          <img src="{{car.modelImage}}" class="card-img-top" alt="car">
          <div class="card-body">
            <div class="d-flex justify-content-between wrapCardHeader">
              <h5 class="card-title">{{car.model}}</h5>
              <span class = "badge text-bg-danger" *ngIf="!car.available">non disponibile</span>
            </div>
            <p class="card-text my-1">Anno : {{car.year}}</p>
            <p class="card-text my-1">Prezzo : {{car.price | currency : 'EUR' }}</p>
            <a [routerLink]="['/detail',car.model]" class="btn btn-outline-secondary btn-sm mt-1">Dettagli</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
