<img src="sfondo.jpg" class="img-fluid" alt="car">
<main class="bg-dark">

  <div class="container py-2 brand">
    <div class="row">
      <div class="col" *ngFor="let image of imagesCar">
        <img [src]="image.logoPath" alt="{{ image.brandName }} Logo" (click)="navigateToBrandPage(image.brandName)" />
      </div>
    </div>
  </div>

  <div class="container py-3 cars">
    <div class="row row-gap-4">
      <div class="col-3" *ngFor="let car of cars">
        <div class="card bg-black text-bg-dark border-0">
          <img src="{{car.modelImage}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{car.model}}</h5>
            <p class="card-text" *ngIf="!car.available">non disponibile</p>
            <a [routerLink]="['/brand',car.brand]" class="btn btn-primary">Tutte le auto {{car.brand}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
